    <% if signed_in? %>
          <div class="dashboard">
            <div class="module mini-profile">
                <div class="flex-module profile-summary js-profile-summary">
                  <div class="profile-header-inner-overlay"></div>
                  <%= render 'shared/user_info' %>
                  <div class="js-mini-profile-stats-container">
                    <%= render 'shared/stats' %>
                  </div>
                </div>
            </div>
            <!--
               <section class="favorite_links">
                <%= render 'shared/favorite_links'%>
            </section>    -->
            <div class="module colleges">
              <%= render 'shared/show_colleges' %>
            </div>
          </div>

            <div class="span8 feed_content">
             <section class="post_form" id ="post_form">
                <%= render 'microposts/micropost_form' %>
              </section>
              <%= render 'shared/feed' %>
            </div>

        <!--
            <aside class="span4 right_bar">
                <%= render 'shared/misc' %>
            </aside>      -->


        <% else %>
          <div class="center hero-unit">
            <h1>Welcome to <span style="display: block">Campus-Connect</span></h1>

            <h2>
             Stay tuned to the college activities. To know more
              <a href="#">click</a> here.
            </h2>

            <%= link_to "Sign up now!", signup_path,
                                        :class => "btn btn-large btn-primary" %>
          </div>

          <%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>
        <% end %>
