<% if signed_in? %>
<div class="row">
	<aside class="span4 left_bar">
		<section>
			<%= render 'groups/group_info' %>
		</section>
		<section>
			<h2>student list (need to work)</h2>
		</section>
	</aside>
	<div class="span8">
		<%= render 'groups/group_name_header'%>
		<% if has_read_access_for_group?(@group.id, current_user.id) %>
		<% if has_write_access_for_group?(@group.id, current_user.id) %>
		<section class="post_field">
			<%= render 'groups/post_form' %>
		</section>
		<% end %>
		<%= render 'shared/feed' %>
          <% end %>
	</div>
</div>
<% else %>
<%= redirect_to root_url %>
<% end %>
