<%= will_paginate %>
<ul>
  <% @users.each do |usr| %>
      <li>
        <block>
          <div class="image_display" style="width:70%;display: inline; float: left;">
            <%= image_tag usr.avatar.url(:thumb), :size => "50x50" %>
            <%= link_to usr.name, usr %>
          </div>
          <div id="<%= 'unfollow' + usr.id.to_s %>" class="unfollow_button_display" style="width:30%;display: inline; float:left;">
            <% if current_user.following?usr %>
                <%= form_for(usr, :html => { :method => :post }, :url => user_unfollow_relationship_path(usr), :remote => true) do |f| %>
                    <%= f.hidden_field :referred_id, :value => @user.id %>
                    <%= f.submit " UnFollow ", :class => "btn btn-large" %>
                <% end %>
            <% else %>
                <%= form_for(usr, :html => { :method => :post }, :url => user_follow_relationship_path(usr), :remote => true) do |f| %>
                    <%= f.hidden_field :referred_id, :value => @user.id %>
                    <%= f.submit " Follow ", :class => "btn btn-large btn-primary" %>
                <% end %>
            <% end %>
          </div>
        </block>
      </li>
  <% end %>
  <%= will_paginate %>
</ul>