<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3 autoTextHeight">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user, 50 %>
    <a href="#">change</a>
  </div>
  
  <div class="span6 offset3 autoTextHeight">
  	<%= form_for(@user_college) do |f| %>
  	 <%= f.label :college_name, "College Name" %>
      <%= f.autocomplete_field :college, autocomplete_college_name_colleges_path, :required => "true" %>
       <div id="dept_field" style="display: none">
       <%= f.label :department %>
       <%= f.select :department,options_for_select([]) %>
      </div>
      <div id="group_field" style="display: none">
       <%= f.label :group %>
       <%= f.select :group, options_for_select([]) %>
      </div>
      <%= f.submit "Add", :class => "btn btn-large btn-primary" %>
      <% end %>
  	</div>
</div>