<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3 autoTextHeight">
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= image_tag @user.avatar.url(:large), :size => "320x320"  %>
      <%= f.file_field :avatar %>

      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
  
  <div class="span6 offset3 autoTextHeight">
  	<%= form_for(@user_college) do |f| %>
  	<%= f.hidden_field :college_id, :value => "" %>
  	 <%= f.label :college_name, "College Name" %>
      <%= f.autocomplete_field :college, autocomplete_college_name_colleges_path, :required => "true" %>
       <div id="dept_field">
       <%= f.label :department %>
       <%= f.select :department_id,options_for_select([]), :required => "true" %>
      </div>
      <div id="group_field">
       <%= f.label :group %>
       <%= f.select :group_id, options_for_select([]), :required => "true" %>
      </div>
      <%= f.submit "Add", :class => "btn btn-large btn-primary", :disabled => "true", :id => "user_college_submit" %>
      <% end %>
  	</div>
</div>