<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4 left_bar">
    <section>
      <h1>
        <%= gravatar_for @user, 50 %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section class="favorite_links">
      	<%= render 'users/user_links'%>
      </section>
  </aside>
  <div class="span8 feed_content">
    
    <% if @user.colleges.any? %>
      <h3>Colleges</h3>
      <ol class="microposts user_colleges_list">
        <%= render 'users/list_colleges' %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  <aside class="span4 right_bar">
    	<%= render 'shared/misc' %>
  </aside>
</div>