<% provide(:title, 'New college') %> <h1>New Department</h1>
<h2><%= @current_college.name %></h2>
<div class="row">
	<div class="span6 offset3 autoTextHeight">
		<%= form_for(@department) do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<%= f.hidden_field :admin_id, :value => current_user.id %>
		<%= f.hidden_field :college_id, :value => @current_college.id %>

		<%= f.label :name %>
		<%= f.text_field :name %>

          <%= image_tag @department.avatar.url(:large), :size => "320x320"  %>
          <%= f.file_field :avatar %>

		<%= f.submit "Create Dept.", :class => "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
