<% if signed_in? %>
<div class="row">
	<aside class="span4 left_bar">
		<section>
			<%= render 'departments/department_info' %>
		</section>
		<section>
			<%= render 'departments/group_list'%>
		</section>
	</aside>
	<div class="span8">
      <% if has_read_access_for_dept?(@department, current_user.id) %>
		<%= render 'departments/department_name_header'%>
		<% if is_admin_for_dept?(@department.id, current_user.id) %>
              <%= button_to "New Group", new_college_department_group_path(@department.college, @department), method: :get do %>
              <% end %>
		<% end %>
			
		<% if has_write_access_for_dept?(@department.id, current_user.id) %>
		<section class="post_field">
			<%= render 'departments/post_form' %>
		</section>
		<% end %>
		<%= render 'shared/feed' %>
      <% end %>
	</div>
</div>
<% else %>
<%= redirect_to root_url %>
<% end %>
