<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @college.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @college.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @college.city %>
</p>

<p>
  <b>State:</b>
  <%= @college.state %>
</p>

<p>
  <b>Country:</b>
  <%= @college.country %>
</p>

<p>
  <b>Zip code:</b>
  <%= @college.zip_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @college.phone %>
</p>

<p>
  <b>Contact email:</b>
  <%= @college.contact_email %>
</p>

<p>
  <b>Website:</b>
  <%= @college.website %>
</p>
