<% if signed_in? %>
<div class="row">
	<aside class="span4 left_bar">
		<section>
			<%= render 'colleges/college_info' %>
		</section>
		<section>
			<%= render 'colleges/dept_list' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'colleges/college_name_header'%>
		<%= render 'colleges/college_details'%>

		<% if is_admin_for_college?(@college.id, current_user.id) %>
            <%= button_to "New dept", new_college_department_path(@college), method: :get do %>
            <% end %>
		<% end %>
		<% if has_read_access_for_college?(@college.id, current_user.id) %>
		<% if has_write_access_for_college?(@college.id, current_user.id) %>
            <section class="post_field">
                <%= render 'colleges/post_form' %>
            </section>
        <% end %>
		<%= render 'shared/feed' %>
          <% end %>
	</div>
</div>
<% else %>
<%= redirect_to root_url %>
<% end %>
