<li id="<%= "microspost_" + micropost.id.to_s %>" >
  <% posted_user = micropost.user %>
	<%= image_tag posted_user.avatar.url(:thumb), :size => "40x40" %>
  <span class="user">
    <%= link_to posted_user.name, posted_user %>
  </span>

  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, :method => :delete,
                                     :data => { :confirm => "You sure?" },
                                     :title => micropost.content,
                                     :remote => true %>
  <% end %>
  <% @micro_post = micropost %>
   <span>
    <%= render 'shared/comments' %>
  </span>
</li>