<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Campus-Connect", root_path, :id => "logo" %>
			<nav>
				<ul class="nav pull-right">

					<% if signed_in? %>
                    <li id="notifications-menu" class="dropdown">
                      <%= link_to 'Clear', notifications_check_user_path(current_user), :remote => true, :method => :post %>
                    </li>

                      <li id="notifications-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <%= image_tag('notifications.png', :alt => 'Notifications', :class => "gravatar", :size => '25x25') %>
                          <span><%=  unchecked_notifications_for(current_user.id).count.to_s %> </span>
                        </a>
                        <ul class="dropdown-menu" STYLE="width: 400px; text-align: center">
                          <% @notifications = current_user.inbox_notifications %>
                          <section>
                            <%= render :partial => 'shared/notification_item_dropdown', :collection=> @notifications %>
                          </section>
                          <section>
                            <%= link_to "See all notifications", notifications_user_path(current_user) %>
                          </section>
                        </ul>
                      </li>

					<li>
						<a href="<%= user_path(current_user) %>"><%= image_tag @current_user.avatar.url(:vsmall) %> <span><%= current_user.name %></span> </a>
					</li>
					<% end %>
					<li>
						<%= link_to "Home",    root_path %>
					</li>
					<% if signed_in? %>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Profile", current_user %>
							</li>
							<li>
								<%= link_to "Settings", edit_user_path(current_user) %>
							</li>
                            <li class="divider"></li>
                            <li>
                              <%= link_to "Events", events_user_path(current_user) %>
                            </li>
                            <% if is_admin_in_any_college? current_user.id %>
                             <li>
                               <%= link_to "Pending Approvals", approve_user_path(current_user) %>
                             </li>
                            <% end %>

							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", signout_path, :method => "delete" %>
							</li>
						</ul>
					</li>
					<% else %>
					<li>
						<%= link_to "Sign in", signin_path %>

					</li>
                      <li><%= link_to "Facebook Login", fblogin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>