<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
                <div style="display: inline-block;">
                  <%= link_to "Campus-Connect", root_path, :id => "logo" ,:class => "pull-left" %>
                </div>

                <div class="pull-right" style="display: inline-block;" role="navigation">
                  <% loggedin = signed_in?
                     if loggedin %>
                      <div role="search">
                        <input type="text" id="post_user_name" class="search-input" placeholder="Search"> </input>
                      </div>
                  <% end %>
                      <ul class="nav right-actions">
                   <% if loggedin %>

                        <li id="notifications-menu" class="dropdown">
                          <div id="notifications-section">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= image_tag('notifications.png', :alt => 'Notifications', :class => "notification_image", :id => "notification_image", :size => '25x25') %>
                            <% notifications_count = unchecked_notifications_count_for(current_user.id) %>
                            <% if notifications_count > 0 %>
                                <span id="notification_count" class="notification_count"><%= notifications_count.to_s %> </span>
                            <% end %>
                          </a>
                          <ul class="dropdown-menu" STYLE="width: 400px; text-align: center">
                            <% inbox_items = current_user.inbox_notifications %>
                            <section>
                              <%= render :partial => 'shared/inbox_item', :collection=> inbox_items %>
                            </section>
                            <section>
                              <%= link_to "See all notifications", notifications_user_path(current_user) %>
                            </section>
                          </ul>
                          </div>
                        </li>

                        <li>
                          <a href="<%= user_path(current_user) %>"><%= image_tag @current_user.avatar.url(:small), :size => "20x20" %> <span><%= current_user.name %></span> </a>
                        </li>
                  <% end %>
                  <li>
                    <%= link_to "Home",    root_path %>
                  </li>
                  <% if loggedin %>
                      <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li>
                            <%= link_to "Profile", current_user %>
                          </li>
                          <li>
                            <%= link_to "Settings", edit_user_path(current_user) %>
                          </li>
                          <li class="divider"></li>
                          <li>
                            <%= link_to "Events", events_user_path(current_user) %>
                          </li>
                          <% if is_admin_in_any_college? current_user.id %>
                              <li>
                                <%= link_to "Pending Approvals", approve_user_path(current_user) %>
                              </li>
                          <% end %>

                          <li class="divider"></li>
                          <li>
                            <%= link_to "Sign out", signout_path, :method => "delete" %>
                          </li>
                        </ul>
                      </li>
                  <% else %>
                      <li>
                        <%= link_to "Sign in", signin_path %>

                      </li>
                      <li><%= link_to "Facebook Login", fblogin_path %></li>
                  <% end %>
                  </ul>
                </div>
		</div>
	</div>
</header>